* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%;
  width: 100%; }

body {
  max-width: 100vw;
  max-height: 100vh; }

body > div {
  position: relative;
  background: #222;
  display: inline-block;
  width: 50%;
  height: 100vh; }
  body > div:last-of-type {
    background: #ffcc00; }

div:first-of-type > div {
  position: absolute;
  width: calc((100% / 9) * 6);
  height: calc((100% / 9) * 6);
  background: #ffcc00;
  right: calc(100% / 9);
  top: calc(100% / 9); }

div:last-of-type > div {
  position: absolute;
  width: calc((100% / 9) * 6);
  height: calc((100% / 9) * 6);
  background: #222;
  left: calc(100% / 9);
  top: calc(100% / 9); }
