* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body > * + * {
  margin: 1.618em 0; }

html {
  font-size: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.618;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

h1, h2, h3 {
  font-weight: 300;
  margin: 0.38198em 0; }

h4, h5 {
  font-weight: 700;
  margin: 0.61805em 0; }

h1 {
  font-size: 4.2358em; }

h2 {
  font-size: 2.61792em; }

h3 {
  font-size: 1.618em; }

h4 {
  font-size: 1em;
  font-weight: 700; }

p {
  margin: 0 0 1.618em; }

a {
  color: #000;
  transition: 200ms all; }
  a:hover {
    color: blue; }

img {
  max-width: 100%;
  height: auto; }

body > header {
  flex-basis: 100%;
  order: 0;
  background: #ffcd00;
  background: #ffcd00 url(../images/header.jpg) bottom;
  background-size: cover;
  display: flex;
  flex-flow: row wrap; }
  body > header h1 {
    margin: 4.2358em 0 0.23608em 4.236vw;
    background: #fff;
    line-height: 1;
    padding: 0 0.05574em; }
  body > header p:first-of-type {
    font-size: 1.618em;
    font-weight: 300;
    margin-top: 0;
    margin-left: 4.236vw;
    margin-bottom: 1.618em;
    background: #fff;
    padding: 0 0.14591em; }
  body > header nav {
    flex-basis: 50%;
    order: -3;
    background-color: #000;
    margin: 0 0 1.618em 0; }
    body > header nav ul {
      display: flex;
      flex-flow: row wrap;
      list-style-type: none;
      margin-left: 4.2358em; }
      body > header nav ul li {
        margin: 0 0.38198em 0 0; }
        body > header nav ul li:first-of-type {
          margin-left: 0; }
        body > header nav ul li:last-of-type {
          margin-right: 0; }
        body > header nav ul li a {
          display: inline-block;
          background-color: #000;
          padding: 0.61805em 1em;
          color: #fff;
          text-decoration: none;
          transition: all 200ms linear; }
          body > header nav ul li a:hover {
            background-color: #fff;
            color: #000; }
  body > header form {
    order: -1;
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-height: 2.84292em;
    background-color: #000; }
    body > header form label {
      font-size: 1em;
      line-height: 1.618;
      color: #aaa; }
    body > header form input[type=search] {
      font-size: 1em;
      line-height: 1.618em;
      margin-left: 0.61805em;
      padding: 0.23608em 0.61805em;
      border: none; }
    body > header form button {
      appearance: none;
      border: none;
      margin-right: 0.38198em;
      background-color: #ffcd00;
      font-size: 1em;
      padding: 0.38198em 0.61805em; }
  body > header .to-profile {
    order: -2;
    flex-basis: 20%;
    max-height: calc(45.5px);
    background-color: #000;
    text-align: right;
    margin: 0;
    padding: 0.61805em 0; }
    body > header .to-profile a {
      display: inline-block;
      line-height: 1.618em;
      color: #fff;
      text-decoration: none; }

main {
  max-width: 100vw;
  padding: 0 4.2358em; }
  main article {
    column-count: 3;
    column-gap: 2.61792em; }
    main article h1, main article h2 {
      column-span: all; }
    main article p {
      text-align: justify; }
    main article em {
      background-color: #ffcd00;
      font-size: 1.618em;
      line-height: 1.618;
      text-align: left; }
    main article ol li {
      margin-left: 1.618em; }
    main article footer {
      color: #666; }
      main article footer p {
        margin: 0; }

.related {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 2.61792em 4.2358em;
  background-color: #ffcd00; }
  .related h2 {
    flex-basis: 100%; }
  .related article {
    flex-basis: 20%; }
    .related article header p {
      font-size: 0.61805em;
      float: left; }
      .related article header p:before {
        content: '|';
        margin: 0 0.38198em; }
      .related article header p:first-of-type:before {
        content: '';
        margin: 0; }
    .related article > p {
      clear: left; }

aside {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 2.61792em 4.2358em; }
  aside section {
    flex-basis: 33%;
    padding: 0 1.618em; }

body > footer {
  flex-basis: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  padding: 2.61792em 4.2358em;
  margin-bottom: 0;
  background-color: #ffcd00; }
  body > footer > * {
    flex-basis: 25%; }
  body > footer #credits,
  body > footer #feedback {
    flex-basis: 100%;
    align-self: flex-start; }
 article ol li {
      margin-left: 1.618em; }
    main article footer {
      color: #666; }
      main article footer p {
        margin: 0; }

.related {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.61792em 4.2358em;
  background-color: #ffcd00; }
  .related h2 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%; }
  .related article {
    -ms-flex-preferred-size: 20%;
    -webkit-flex-basis: 20%;
    flex-basis: 20%; }
    .related article header p {
      font-size: 0.61805em;
      float: left; }
      .related article header p:before {
        content: '|';
        margin: 0 0.38198em; }
      .related article header p:first-of-type:before {
        content: '';
        margin: 0; }
    .related article > p {
      clear: left; }

aside {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 2.61792em 4.2358em; }
  aside section {
    -ms-flex-preferred-size: 33%;
    -webkit-flex-basis: 33%;
    flex-basis: 33%;
    padding: 0 1.618em; }

body > footer {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 2.61792em 4.2358em;
  margin-bottom: 0;
  background-color: #ffcd00; }
  body > footer > * {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%; }
  body > footer #credits,
  body > footer #feedback {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
